input {
    float:left;
    width:calc(100% - 37px);
    height:24px;
    padding:0 5px;
    border:solid 1px #000;
}

.fav {
    display:block;
    float:left;
}
.fav:before {
    content:"⋆";
    display:block;
    width:24px;
    height:24px;
    line-height:22px;
    font-size: 36px;
    border:solid 1px #000;
    border-left:0;
    text-align:center;
    cursor: pointer;
}